extends layout

block content
  main.container(role="main", style="padding-top: 15px")
    div.row
      div.col-md-2
      div.col-md-8
        h2 Welcome to RDF explorer
        p
          b RDF explorer is a Linked Data Frontend for SPARQL Endpoints
          | 
        p
